.user-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
  position: relative;
  padding-top: 200px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}



.load-more-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
