.user-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 460px;
  /* left: 863px;
  top: 168px; */

  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
}

.card__goit {
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 20px;
}

#logo {
  width: 380px;
  height: 460px;
  margin-bottom: 26px;
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );

  border-bottom-width: 8px;
  border-bottom-style: solid;
  border-bottom-color: #ebd8ff;

  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
}

.card__img {
  position: absolute;
  top: 190px;
  left: 150px;
  width: 80px;
  height: 80px;
  margin-bottom: 26px;
  background: #ebd8ff;
  box-shadow: 0px 4.39163px 4.39163px rgba(0, 0, 0, 0.06),
    inset 0px -2.19582px 4.39163px #ae7be3,
    inset 0px 4.39163px 3.29372px #fbf8ff;
  border-radius: 50%;
  border: #ebd8ff solid 8px;
}

.card__tweets,
.card__followers {
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  letter-spacing: 0em;
  text-transform: uppercase;
  color: #ebd8ff;
}

.card__tweets {
  margin-bottom: 26px;
}

.card__followers {
  margin-bottom: 16px;
}

.follow-button {
  /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
  margin-bottom: 36px;
  padding: 14px 28px;
  gap: 6px;

  position: relative;
  width: 196px;
  height: 50px;

  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10.3108px;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;

  text-transform: uppercase;
  color: #373737;
}

.follow-button.following {
  /* display: flex;
flex-direction: row;
justify-content: center;
align-items: center; */
  margin-bottom: 36px;
  padding: 14px 28px;
  gap: 6px;

  position: relative;
  width: 196px;
  height: 50px;

  background: #5cd3a8;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10.3108px;
}

.load-more-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
